{% extends 'base.html' %}
{% block title %}
    Details {{ student.first_name }} {{ student.last_name }}
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                        <p class="card-text">Age: {{ student.age }}</p>
                        <p class="card-text">Is olympic? {{ student.is_olympic }}</p>
                        <p class="card-text">Gender: {{ student.gender }}</p>
                        <p class="card-text">Description: {{ student.description }}</p>
                        <p class="card-text">Email: {{ student.email }}</p>
                        <p class="card-text">Start date: {{ student.start_date_time|date:"d-m-Y H:i" }}</p>
                        <p class="card-text">End date: {{ student.end_date|date:"d-m-Y" }}</p>
                        <p class="card-text">
                            Teacher: {{ student.teacher.first_name }} {{ student.teacher.last_name }}</p>
                        <p class="card-text">Course: {{ student.teacher.course.capitalize }}</p>
                        <a href="{% url 'list_of_students' %}" class="btn btn-sm btn-outline-success">Back</a>
                    </div>
                    <div class="card-footer text-muted">
                        Last updated info: {{ student.updated_at|date:"d-m-Y H:i" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}