{% extends 'base.html' %}
{% block title %}
    Students for Teacher {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="text-center">List of students for {{ teacher.first_name }} {{ teacher.last_name }}</h5>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    {% if get_students_per_teacher %}
                        <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Olympic</th>
                            <th>Age</th>
                            <th>Gender</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in get_students_per_teacher %}
                            <tr>
                                <td>{{ student.first_name }} {{ student.last_name }}</td>
                                <td>{% if student.is_olympic %} Yes {% else %}No{% endif %}</td>
                                <td>{{ student.age }}</td>
                                <td>{{ student.gender.capitalize }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    {% else %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="text-center"> We have no students
                                    for {{ teacher.first_name }} {{ teacher.last_name }}</h3></div>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}