{% extends 'base.html' %}
{% block title %}
    Students
{% endblock %}
{% block content %}
    <div class="container mt-5 px-4">
        <div class="row px-0">
            <div class="col-md-4">
                <form method="get">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Search in students list:</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for field in students_filters.form %}
                                    <div class="text-center">
                                        <label class=" col-form-label">{{ field.label }}</label>{{ field }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 align-self-center">
                <div class="">
                    {% if all_students %}
                        <table class="table table-success table-striped">
                            <thead>
                            <tr>
                                <th>FirstName</th>
                                <th>age</th>
                                <th>Is Olympic ?</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in all_students %}
                                <tr>
                                    <td>{{ student.first_name }} {{ student.last_naonme }}</td>
                                    <td>{{ student.age }}</td>
                                    <td>{% if student.is_olympic %} Yes {% else %} No {% endif %}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle btn btn-success" href="#" id="actionDropdown"
                                               role="button"
                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                List of Actions
                                            </a>
                                            <ul class="dropdown-menu text-center px-0" aria-labelledby="actionDropdown">
                                                {% if perms.student.change_student or perms.status.delete_student or perms.student.details_student or perms.student.inactive_student %}
                                                    {% if perms.student.change_student %}
                                                        <li>
                                                            <a href="{% url 'update_student' student.id %}"
                                                               class="dropdown-item my-1">Update</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.student.delete_student %}
                                                        <li>
                                                            <a href="{% url 'delete_student' student.id %}"
                                                               class="dropdown-item my-1">Delete</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.student.details_student %}
                                                        <li>
                                                            <a href="{% url 'details_student' student.id %}"
                                                               class="dropdown-item my-1">Details</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.student.inactive_student %}
                                                        <li>
                                                            <a href="{% url 'inactive_student' student.id %}"
                                                               class="dropdown-item my-1">Inactive</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perms.student.delete_student %}
                                                        <li>
                                                            <button type="button" class="dropdown-item my-1" data-bs-toggle="modal"
                                                                    data-bs-target="#delete_{{ student.id }}">
                                                                DeleteModal
                                                            </button>
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    <h5>You have no actions to do!</h5>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <div class="modal fade" id="delete_{{ student.id }}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="exampleModalLabel">{{ student.first_name }} {{ student.last_name }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Do you want to delete - {{ student.first_name }} {{ student.last_name }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    No
                                                </button>
                                                <a href="{% url 'delete_student_with_modal' student.id %}"
                                                   class="btn btn-danger">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="text-center">No data available</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}