{% extends 'base.html' %}
{% block title %}
    Update {{ student.first_name }} {{ student.last_name }}
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        Update {{ student.first_name }} {{ student.last_name }}
                    </div>
                    <form method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-primary">Save</button>
                            <a href="{% url 'list_of_students' %}" class="btn btn-outline-secondary"> Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}