{% extends 'base.html' %}
{% block title %}
    All cars
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Model</th>
                            <th>Color</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in all_cars %}
                            <tr>
                                <td>{{ car.name }}</td>
                                <td>{{ car.model }}</td>
                                <td>{{ car.color }}</td>
                                <td>
                                    {% for option in car.options%}
                                    {{ option }},
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{% url 'apps' %}" class="btn btn-primary"> Go to Apps</a>
            </div>
        </div>
    </div>
{% endblock %}