{% extends 'base.html' %}
{% block title %}
    Applications
{% endblock %}
{% block content %}
    <div class="container">
        {% for app in all_aps %}
            <h1 style="display:inline">{{ app.name }}</h1>
            <p style="padding: 2px 20px">Story app: <strong>{{ app.story }}</strong></p>
            <p style="padding: 2px 20px">Software app:
                <strong>
                    {% for elem in app.software %}
                        {{ elem }},
                    {% endfor %}
                </strong>
            </p>
            <p style="padding: 2px 20px">Proprieties app:
                <strong>
                    {% for key,value in app.proprieties.items %}
                        {{ key }} -- {{ value }},
                    {% endfor %}
                </strong>
            </p>
        {% endfor %}

        <a href="{% url 'all_cars' %}" class="btn btn-dark"> Go to Cars</a>
    </div>
{% endblock %}