{% extends 'base.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Reset Password</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-success mx-3">Reset</button>
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}