{% extends 'base.html' %}
{% block title %}
Done
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Reset</h3>
                </div>
                <div class="card-body">
                    <h5 class="text-center">Your password was successfully changed</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}