{% extends 'base.html' %}
{% block title %}
    Done
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Done</h2>
                </div>
                <div class="card-body">
                    <h5 class="text-center">You will get instructions on your email!!!</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}