{% extends 'base.html' %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-header text-center">
                        Change {{ request.user.username }} password
                    </div>
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-outline-primary">ChangePassword</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}