{% extends 'base.html' %}

{% block title %}
    Delete {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center text-danger">{{ teacher.first_name }} {{ teacher.last_name }}</h4>
                        <h6 class="card-subtitle mb-2 text-center text-muted">Delete</h6>
                        <p class="card-text text-center">Do you want to delete this teacher ?</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" class="btn  btn-outline-danger mx-3">Yes</button>
                                <a href="{% url 'list_of_teachers' %}" class="btn btn-sm btn-outline-success mx-3">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}