{% extends 'base.html' %}
{% block title %}
    Teachers
{% endblock %}
{% block content %}

            <div class="col-md-4">
                <form method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Search in all teachers</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% for field in teachers_filter.form %}
                                    <div class="text-center">
                                        <label class="col-form-label">{{ field.label }}</label>{{ field }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 align-self-center">

                    <div class="row align-items-md-start">
                        {% if all_teachers %}
                            {% for teacher in all_teachers %}
                                <div class="col-4 mt-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="text-center">{{ teacher.first_name }} {{ teacher.last_name }}</h3>
                                        </div>
                                        <div class="card-body text-center">
                                            <h5>Department</h5>
                                            <p class="card-text bg-light px-2">{{ teacher.department }}</p>
                                            <h5>Course</h5>
                                            <p class="card-text bg-light px-2"> {{ teacher.course.capitalize }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-around">
                                                {% if perms.teacher.delete_teacher %}
                                                    <a href="{% url 'delete_teacher' teacher.id %}"
                                                       class="btn btn-sm btn-outline-danger">Delete</a>
                                                {% endif %}
                                                {% if perms.teacher.change_teacher %}
                                                    <a href="{% url 'update_teacher' teacher.id %}"
                                                       class="btn btn-sm btn-outline-primary">Edit</a>
                                                {% endif %}
                                                {% if perms.teacher.inactive_teacher %}
                                                    <a href="{% url 'inactive_teacher' teacher.id %}"
                                                       class="btn btn-sm btn-outline-success">Inactive</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 class="text-center mt-5 text-danger">We have no teachers!</h3>
                        {% endif %}
                    </div>

            </div>
        </div>
    </div>
{% endblock %}