{% extends 'base.html' %}
{% block title %}
    Update {{ teacher.first_name }} {{ teacher.last_name }}
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Update Teacher</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'list_of_teachers' %}" class="btn btn-outline-secondary mx-4">Cancel</a>
                            <button type="submit" class="btn btn-outline-primary mx-4">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}