{% extends 'base.html' %}
{% block title %}
Create User
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" class="pt-5">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header text-center">
                            <h4 class="text-center">Create User</h4>
                        </div>
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success mx-3">
                            Create
                        </button>
                        <a href="{% url 'login' %}" class="btn btn-outline-primary">
                            User LogIn
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}