<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'apps' %}">DjangoProject</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {#                {% if request.user.is_authenticated and request.user.is_superuser %}#}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_cars' %}">Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'apps' %}">Applications</a>
                    </li>
                    {% if perms.student.add_student or perms.student.view_student %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Students
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if perms.student.add_student %}
                                    <li><a class="dropdown-item" href="{% url 'create_student' %}">Create Student</a>
                                    </li>
                                {% endif %}
                                {% if perms.student.view_student %}
                                    <li><a class="dropdown-item" href="{% url 'list_of_students' %}">Students List</a>
                                    </li>
                                {% else %}
                                    <li><a href="#" class="dropdown-item text-center">List</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.teacher.add_teacher or perms.teacher.view_teacher %}
                        <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Teachers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                {% if perms.teacher.add_teacher %}
                                    <li><a class="dropdown-item" href="{% url 'create_teacher' %}">Create Teacher</a>
                                    </li>
                                {% endif %}
                                {% if perms.teacher.view_teacher %}
                                    <li><a class="dropdown-item" href="{% url 'list_of_teachers' %}">Teachers</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.student.students_per_teacher %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                All Teachers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for teacher in get_all_teacher %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'all_students_per_teacher' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}"
                   class="btn btn-outline-primary mr-3">Logout, {{ request.user.username }}</a>
            {% else %}
                <div class="d-flex">
                    <a href="{% url 'create_user' %}" class="btn btn-outline-secondary mx-2">Sign Up</a>
                    <a href="{% url 'login' %}" class="btn btn-outline-success mx-2">Login</a>
                </div>
            {% endif %}
            {#            <form class="d-flex">#}
            {#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
            {#                <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#            </form>#}
        </div>
    </div>
</nav>